@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Baloo;
    src: url('./fonts/Baloo.ttf') format('truetype');
  }

  @font-face {
    font-family: GangofThreeRegular;
    src: url('./fonts/GangofThreeRegular.ttf') format('truetype');
  }
}
